<div class="back-button" ui-sref="levels.level">
    <button type="button" name="button">Back</button>
</div>
<div class="user-bar">
    <div class="user-details">
        <span>username: {{user.email}}</span>
        <img src="assets\img\icon.png" class="icon" />
        <span class="points">
            Points: {{user.points}}
        </span>
        <img src="assets\img\points.png" class="icon" />
    </div>
</div>

<section class="question-wrapper">
    <div class="questions-nav">
        <ul>
            <li ng-repeat="value in questions track by $index" ng-class="{active: questions[$index].id == currentQuestion.id}" ng-click="getQuestions($index)">Question {{$index+1}}</li>
        </ul>
    </div>
    <div class="questions-container">
        <ul class="questions-ul">
            <li>
                <div class="question-name">
                    <h4>{{currentQuestion.dialog}}</h4>
                    <input type="text" class="answer-type-area" ng-class="{'que-solved': currentQuestion.disabled, 'wrong-answ': currentQuestion.wrongAnswer}" ng-disabled="currentQuestion.disabled" placeholder="Your Answer Here...(Press Enter to Submit) " ng-model='answer' ng-enter="checkAnswer()"/>
                    <aside class='hints'>
                        <span class="hint-attract" ng-click="getHint(this)"><img src="../assets/img/hint.png"></span>
                        <span class="hint-info">Take a hint using 5 of your points</span>
                        <div class="hint-number-container" ng-class="{'active-hint': currentQuestion.hintActive}">
                            <span class="hint-name">{{currentQuestion.hint}}</span>
                        </div>
                    </aside>
                </div>
            </li>
        </ul>
    </div>
</section>
