<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <div class="container">
      <img src="assets/img/images.jpg" class="image"/>
      <img src="assets/img/joker.png" class="image-joker"/>
      <div class="instructions">
        <a><img src="assets/img/saw.jpg" class="image-saw"/>
        <i><img src="assets/img/dialogue.png" class="image-dialogue"/></i></a>
      </div>
      <div>
        <button type="button" class="btn btn-danger" ui-sref="login">Play</button>
      </div>
    </div>
  </body>
</html>
